<!-- Header -->

<header class="page-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo-green-harvest" href="">
        <span class="header-logo"
          ><svg class="svg-1" width="16" height="16">
            <use href="./img/icons.svg#icon-mob-logo"></use>
          </svg>
          <svg class="svg-2" width="148" height="12">
            <use href="./img/icons.svg#icon-mob-logo-name"></use></svg
        ></span>
      </a>
      <ul class="page-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#how_it_works">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <a class="header-shop-btn" href="#yourorder">Shop now</a>
    <button id="toggleMenu" type="button" class="open-menu-btn">
      <svg class="svg-3" width="32" height="32">
        <use href="./img/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>
  </div>
  <div id="backdrop" class="backdrop">
    <div class="mob-menu">
      <div class="mob-menu-top">
        <button id="closeMenu" type="button" class="menu-close-btn">
          <svg class="close-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-mob-close-menu"></use>
          </svg>
        </button>
      </div>
      <div class="mob-menu-centr">
        <nav class="mob-menu-nav">
          <ul class="mob-menu-list">
            <li class="mob-menu-item">
              <a class="mob-menu-link" href="#how_it_works">How It Works</a>
            </li>
            <li class="mob-menu-item">
              <a class="mob-menu-link" href="#vegetables">Vegetables</a>
            </li>
            <li class="mob-menu-item">
              <a class="mob-menu-link" href="#reviews">Reviews</a>
            </li>
          </ul>
        </nav>
      </div>
      <a class="mob-shop-btn" href="#yourorder">Shop now</a>
    </div>
  </div>
</header>
