

.section-yourorder {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #7a3145;
    margin: 0 auto;
    max-width: 100%;
}

.section-yourorder-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 40px;
}

.section-yourorder-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 29px;
}

.yourorder-title-span {
    color: rgba(251, 251, 251, 0.3);
    font-weight: 600;
        font-size: 48px;
        line-height: 1.04;
        letter-spacing: -0.01em;
        text-transform: uppercase;
}

.section-yourorder-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #fbfbfb;
}

.section-yourorder-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.section-yourorder-form-wrap {
    background: #fbfbfb;
    border-radius: 30px;
    padding: 40px 20px;
    width: 100%;
}

.section-yourorder-form-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 40px;

}

.yourorder-form-span-fromus {
    color: #7a3145;
}

.yourorder-form-span-theform {
    color: #576f35;
}

.section-yourorder-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.yourorder-input {
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
    width: 100%;
}

.yourorder-input:focus,
.yourorder-input:hover {
    border-color: #7a3145;
}

.yourorder-input:not(:placeholder-shown):invalid {
    border-color: #e74a3b;
}

.yourorder-input:not(:placeholder-shown):valid {
    border-color: #3cbc81;
}

.text-valid,
.text-invalid {
    font-size: 14px;
    padding-left: 20px;
    margin-top: 4px;
    display: none;
}

.text-valid {
    color: #3cbc81;
}

.text-invalid {
    border-color: #e74a3b;
}

.yourorder-input-comment {
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 15px;
    min-height: 91px;
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
    width:100%;
    resize: none;
}


.section-yourorder-button {
    border-radius: 30px;
    background: #576f35;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    border: none;
    max-width: 100%;
    font-weight: 600;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
}

.section-yourorder-button:hover,
.section-yourorder-button:focus{
    text-shadow: -10px -4px 9px rgba(45, 35, 35, 0.87);
    
}


.section-yourorder-socnetworks {
    background: #576f35;
    border-radius: 30px;
    padding: 40px 20px;

}

.yourorder-socnetworks-image {
    border-radius: 15px;
    margin-bottom: 20px;
}

.yourorder-socnetworks-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    margin-bottom: 14px;
}


.yourorder-socnetworks-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px 0;
    width: 100%;
    
}

.yourorder-socnetworks-link {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    color: #fbfbfb;
}

.yourorder-socnetworks-link:hover,
.yourorder-socnetworks-link:focus{
    text-shadow: -10px -4px 9px rgba(45, 35, 35, 0.87);
}

.yourorder-socnetworks-item:not(:last-child):after {
    content: "/";
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    font-size: 24px;
    line-height: 1.08;
    margin: 0 8px;
}





@media screen and (min-width: 768px) {


    .section-yourorder {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section-yourorder-title {
        margin-bottom: 25px;
        width: 640px;
        font-weight: 600;
            font-size: 64px;
            line-height: 1;
    }  

    .yourorder-title-span{
        font-weight: 600;
            font-size: 64px;
            line-height: 1;
    }

    .section-yourorder-text {
        font-size: 16px;
        line-height: 1.25;
        width: 640px;
        font-size: 16px;
            line-height: 1.25;
    }

.section-yourorder-wrapper{
    
    width: 100%;
    padding: 0 70px;
    gap: 25px;
}

    .section-yourorder-form-wrap {
        padding: 50px 100px;
        width: 100%;
    }

.section-yourorder-form{
    width: 100%;
    gap: 15px;
}

    .section-yourorder-form-title {
        margin-bottom: 50px;
        width: 100%;
    }

    .yourorder-input {
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 16px;
        line-height: 1.25;
    }

    .yourorder-input-comment {
        width: 100%;
        font-size: 16px;
        line-height: 1.25;
        padding-top: 16px;
        height: 95px;
    }

    .section-yourorder-button {
        width: 428px;
        font-size: 18px;
        line-height: 1.11;
    }

    .section-yourorder-socnetworks {
        width: 100%;
        padding: 50px;
    }

    .yourorder-socnetworks-image {
        margin-bottom: 50px;
    }

    .yourorder-socnetworks-blok {
        width: 492px;
    }

    .yourorder-socnetworks-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11;
        margin-bottom: 15px;
    }

    .yourorder-socnetworks-link {
        font-size: 32px;
        line-height: 1;
    }

        .yourorder-socnetworks-item:not(:last-child):after{
            font-size: 32px;
            line-height: 1;
            margin: 0 8px;
        }


}

@media screen and (min-width: 1280px) {

    
    .section-yourorder-title {
        width: 751px;
    }
    
    .section-yourorder-text{
        line-height: 1.25;
        width: 751px;
    }

.section-yourorder-wrapper{
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    width: 100%;
}

.section-yourorder-form-wrap{
    padding: 50px;
    width: calc((100% - 24px) / 2);
}

.section-yourorder-form-title{
    font-family: "Inter Tight",
sans-serif;
font-weight: 600;
    font-size: 24px;
    line-height: 1.08333;
    letter-spacing: -0.01em;
    width: 100%;
}

.section-yourorder-form{
    max-width: 100%;
    gap: 15px;
    margin-bottom: 0;
}

.section-yourorder-socnetworks{
    width: calc((100% - 24px) / 2);
}

.yourorder-socnetworks-image{
    width: 100%;
}

.yourorder-socnetworks-list{
    gap: 12px 0;
    width: 357px;
}

.yourorder-socnetworks-item{
    font-size: 32px;
}

    .section-yourorder-button {
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11;
    }




.yourorder-socnetworks-title{
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.11;
}




}





